---
title: 'Blog'
summary: 'A feed of the latest posts from our blog.'
permalink: '/feed.xml'
templateEngineOverride: liquid
layout:
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ title }}</title>
	<subtitle>{{ summary }}</subtitle>
	<link href="{{ site.url }}{{ permalink }}" rel="self"/>
	<link href="{{ site.url }}/"/>
	<updated>{{ collections.blog | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
	<id>{{ site.url }}</id>
	{% for post in collections.blog %}
    {% capture bookshopContent %}
      {% if editorial_blocks %}
        {% bookshop_include "doc" editorial_blocks: editorial_blocks %}
      {% endif %}
    {% endcapture %}
    {% capture absolutePostUrl %}{{ site.url }}{{ post.url | url }}{% endcapture %}
    <entry>
      <title>{{ post.data.title }}</title>
      <link href="{{ absolutePostUrl }}"/>
      <updated>{{ post.date | dateToRfc882 }}</updated>
      <id>{{ absolutePostUrl }}</id>
      <author>
        {% assign query= "$[?(@.id == '"| append: post.data.author | append: "')].name" %}
        {% assign authorName= authors | jsonPathFilter: query %}
        <name>{{ authorName[0] }}</name>
      </author>
      <content type="html"><![CDATA[{{ bookshopContent | append: post.templateContent | renderTransforms }}]]></content>
    </entry>
	{% endfor %}
</feed>